<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Already In</h1>
    <p>Use AWS Facial Recognition to cross reference a Facebook Group Album with a new photo.</p>
  </div>
</div>
<div class="container">
  
  <div class="row">
    <div class="col-md-12">
      <h2>Login</h2>
    </div>
  </div> <!-- row -->
  
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
